<div class="my-4 ms-2">
  <h1>New Article</h1>
</div>
<form action="/articles/<%= article.id %>?_method=PUT" method="post" class="p-4 rounded-3 border bg-light">
  <%- include('_form_fields')  %>
</form>
